.contenedor {
    padding: 3rem;
}
.contenedor h2{
    text-transform: uppercase;
    text-align: center;
}
.moreBig {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.moreBig span {
    color: var(--primaryLight);
}
.contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorImagen img {
    width: 100%;
    max-width: 35rem;
    height: auto;
}