.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carruselImage {
    display: flex;
    gap: 1rem;
    width: 100%;
    position: relative;
}
.carruselImage img {
    width: 100%;
    height: auto;
}
.active {
    display: block;
    opacity: 1;
    animation-name: aparecer;
    animation-duration: 0.5s;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.btnCarrusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 1rem;
}
.btnCarrusel button {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: var(--primaryLight);
    border: none;
    color: var(--white);
    font-size: 2rem;
    font-weight: 800;
}
.btnCarrusel button:hover {
    animation-name: transladarx;
    animation-duration: 0.8s;
}
@keyframes transladarx {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}