.contactPage {
    background-color: var(--white);
    color: var(--black);
}
.contenedor {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}
.contactPage .contenedor {
    color: var(--black);
    margin-bottom: 0;
}
.contactText {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin-top: 2rem;
    align-items: center;
    width: 100%;    
    border-right: none;
}
.contactText h2 {
    font-size: 2.5rem;
    
}
.contactText p {
    margin: 0;
}
@media (min-width: 1024px) {
    .contactText {
        width: 40%;
        border-right: 3px solid var(--gray);
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        padding: 2rem;
    }
    .contenedor {
        display: flex;
        flex-direction: row;
    }
}
.contactoformas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.contactoformas div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: start;
}
.contactoformas p {
    width: 80%;
    font-size: 1.8rem;
    text-align: start;
}
.contactoformas img {
    width: 4rem;
    height: 4rem;
}