:root {
  --primary: rgb(3, 42, 68);
  --primaryLight: #3E92CC;
  --WhiteNotSoWhite: #FFFAFF;
  --black: #000000;
  --gray: #303030;
  --white: #FFFFFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
  display: flex;
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  margin: 0;
}

body {
  margin: 0;
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background: rgb(48,48,48);
  background: linear-gradient(290deg, rgb(3, 42, 68) 0%, rgba(0,0,0,1) 100%); 
  background-repeat: no-repeat;
  color: var(--white);
  flex: 1;
  
  
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.6rem;
}
.paginaInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 15rem;
  padding-top: 10rem;
}
.paginaInicio h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .paginaInicio {
    height: 30vh;
    margin: 0;
    padding-top: 10rem;
  }
}
.paginaInicio h1{
  text-align: center;
}
.contenedor {
  color: var(--white);
  margin: 3rem 10%;
  padding: 2rem;
  border-radius: 1rem;
  word-break: normal;
}
@media (max-width: 400px) {
  .contenedor {
    margin: 3rem 1rem;
  }
}
.gray {
  background-color: var(--gray);
}
.gray p {
  color: var(--WhiteNotSoWhite);
}
.white {
  background-color: var(--WhiteNotSoWhite);
}
.grid2 {
  display: flex;
  flex-direction: column;
}
.flexRow {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 768px) {
  .flexRow {
    flex-direction: row;
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.btn p {
  margin: 0;
}
.center {
  justify-content: center;
  align-items: center;
}

.imagenGirar {
  animation: girar 5s infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imagenEscala {
  animation: palpitar 2s infinite;
}

@keyframes palpitar {
  18% {
      transform: scale(1.05);
  }
  36% {
      transform: scale(1);
  }
  54% {
      transform: scale(1.05);
  }
  72% {
      transform: scale(1);
  }
  90% {
      transform: scale(1.05);
  }
  90% {
      transform: scale(1);
  }
}
.gap2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.swiperNuevo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  opacity: 0;
  width: 100%;
}
.swiper-slide-active {
  opacity: 1;
}
.carruselImage {
  opacity: 0;
  display: none;
  animation-name: desaparecer;
  animation-duration: 0.3s;
}
@keyframes desaparecer {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100%{
      opacity: 0;
  }
}