.headerInicioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
}
.contenedorImagen {
    display: none;
}
@media (min-width: 1024px) {
    .contenedorImagen {
        display: flex;
    }
}
.presentacion h1 {
    font-weight: 700;
    font-size: 5rem;
}
.presentacion p,
.presentacion span {
    font-size: 2.8rem;
    font-weight: 500;
}
.presentacion span {
    font-weight: 200;
    font-size: 2.5rem;
}
.presentacion .text {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 3rem;
}
.headerInicioContainer h1 span {
    font-size: 7rem;
    font-weight: 700;
    color: var(--primaryLight);
}
@media (min-width: 1024px) {
    .presentacion h1,
    .presentacion span {
        font-size: 7rem;
    }
    .presentacion p {
        font-size: 3.5rem;
    }
    .presentacion span {
        font-size: 3rem;
    }
}   
.barraInicio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    background-color: var(--primary);
    width: 40%;
    min-width: 30rem;
    padding: 1.5rem;
    padding-right: 4rem;
    border-radius: 0 3rem 3rem 0;
    text-decoration: none;
    color: var(--white);
}
.btnKnowMe {
    background-color: transparent;
    border: 3px solid var(--primaryLight);
}
.btnKnowMe:hover {
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
}