.headerInicioContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex: 1;
}
.contenedorImagen {
    display: none;
    
}
.contenedorImagen img {
    width: 70%;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 10%;
}
@media (min-width: 1024px) {
    .contenedorImagen {
        display: flex;
    }
}
.contenedorImagenRelative {
    position: relative;
}
.contenedorImagenRelative div, .contenedorImagenRelative h1 {
    position: absolute;
}
.div1 {
    width: 6rem;
    top: -1rem;
    left: -2rem;
}
.div2 {
    width: 7rem;
    right: 12rem;
    top: 15rem;
}
.div3 {
    width: 20rem;
    left: -3rem;
    bottom: -4rem;
}
.div4 {
    width: 15rem;
    right: 10rem;
    bottom: -4rem;
}
.div5 {
    width: 10rem;
    left: -3rem;
    top: 2rem;
}
.div6 {
    width: 10rem;
    right: 13rem;
    top: -2rem;
}
.presentacion h1 {
    font-weight: 700;
    font-size: 5rem;
}
.presentacion p,
.presentacion span {
    font-size: 2.8rem;
    font-weight: 500;
}
.presentacion span {
    font-weight: 200;
    font-size: 2.5rem;
}
.presentacion .text {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 3rem;
}
.headerInicioContainer h1 span {
    font-size: 7rem;
    font-weight: 700;
    color: var(--primaryLight);
}
@media (min-width: 1024px) {
    .presentacion h1,
    .presentacion span {
        font-size: 7rem;
    }
    .presentacion p {
        font-size: 3.5rem;
    }
    .presentacion span {
        font-size: 3rem;
    }
}   
.barraInicio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    background-color: var(--primary);
    width: 40%;
    min-width: 30rem;
    padding: 1.5rem;
    padding-right: 4rem;
    border-radius: 0 3rem 3rem 0;
    text-decoration: none;
    color: var(--white);
}
.btnKnowMe {
    background-color: transparent;
    border: 3px solid var(--primaryLight);
}
.btnKnowMe:hover {
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
}