.contenedorProyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
@media (min-width: 1024px) {
    .contenedorProyecto {
        flex-direction: row;
    }
}
.textoProyecto {
    width: 100%;
}
.textoProyecto h3 {
    color: var(--primaryLight);
    font-size: 2.5rem;
}
.textoProyecto p {
    font-size: 1.8rem;
}
.linkContenedor {
    margin-top: 1rem;
}
.linkContenedor p, .linkContenedor a {
    font-size: 1.7rem;
    color: var(--black);
}
.linkContenedor a {
    color: var(--primaryLight);
    font-weight: 700;
    transition: all linear 0.2s;
}
.linkContenedor a:hover {
    color: var(--primary);
}
.slider {
    width: 100%;
}
.imagenSlider {
    width: 100%;
    height: auto;
}
@media (min-width: 1024px ) {
    .slider {
        width: 40%;
    }
    .textoProyecto {
        width: 60%;
    }
}